################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/PathshalaWebApi/v15/Server/sqlite3
/packages
/.vs/PathshalaWebApi/v15
/.vs/config/applicationhost.config