<div class="jumbotron">
    <h1>PATHSHALA</h1>
    <p class="lead">Welcome to Pathshaka, a desktop and mobile application to stay updated with your child day activities during the care.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Daycare Service Provider</h2>
        <p>Check out our effective Pathshala package for your day care.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API</h2>
        <p>Check Pathshala API, take advantage today!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>Manage application and it's behaviours</p>
        <p><a class="btn btn-primary btn-sm" href="#">Login here &raquo;</a></p>
    </div>
</div>
